/* CSS Module: 리액트 프로젝트에서 CSS 클래스가 중첩되는 것을 방지, css파일의 확장자를 .module.css로 */
.Box {
  background: black;
  color: white;
  padding: 2rem;
}


/* 다음과 같은 상황에서 유용:
1. 레거시 프로젝트에 리액트를 도입할 때 (기존 프로젝트에 있던 CSS 클래스와 이름이 중복되어도 스타일이 꼬이지 않게 해줌)
2. CSS 클래스를 중복되지 않게 작성하기 위하여 CSS 클래스 네이밍 규칙을 만들기 귀찮을 때 */